 <div class="breadcrumb-wrapper">
            <div class="container">
                <h1>Edition du profil</h1>
            </div>
        </div>
        <!--end breadcrumb-->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="space-60"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="sky-form-login">
                      
                            <h3 class="text-left"><i class="fa fa-user"></i>Editer votre compte</h3>

                            <fieldset>          
                                <section>
                                  <div class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <%= current_user.username %>
                                  </div>
                                    
                                </section>

                                <section>
                                  <div class="input">  
                                    <i class="icon-append fa fa-envelope-o"></i>              
                                    <%= current_user.email %>
                                  </div>

                                </section>

                                <section>
                                  <div class="input">  
                                    <i class="icon-append fa fa-lock"> </i>
                                    <% f.label :password %>
                                    <%= f.password_field :password, autocomplete: "off", placeholder: "Nouveau mot de passe ...", title:"#{ @minimum_password_length } caractères minimum" %> <i>(Laisser vide si vous ne voulez pas le changer)</i>
                                    </div>
                                    
                                </section>

                                <section>
                                  <div class="input">  
                                    <i class="icon-append fa fa-lock"></i>
                                      <% f.label :password_confirmation %>
                                      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmation ..." %>
                                    </div>
                                    
                                </section>

                                <section>
                                  <div class="input">  
                                    <i class="icon-append fa fa-lock"></i>
                                      <% f.label :current_password %> 
                                      <%= f.password_field :current_password, autocomplete: "off", placeholder: "Mot de passe actuel ..." %> <i>(Pour confirmer les changements)</i>
                                    </div>
                                    
                                </section>                                
                            </fieldset>

                            <footer>
                              <br>
                              <%= f.submit "Mise à jour", class: "actions btn btn-skin btn-lg"%>

                            </footer>
                        <% end %>

                   
                    </div>
                </div><!--col end-->
                <div class="col-md-6">
                    <div class="login-register-aside-box">
                        <h3>Modifier</h3>
                        <p>
                            Ici vous pouvez changer votre mot de passe 
                        </p>
                        <br>

                        <h3>Effacer mon compte</h3>

                        <p>Mécontent?</p>
                        <br>
                        <%= button_to "Cloturer mon compte", registration_path(resource_name), class: "btn btn-danger btn-lg" , data: { confirm: "Êtes vous certain?" }, method: :delete %>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-60"></div>

