<<<<<< HEAD

=======
      <!--search toggle form-->
        <div class="search-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <form>
                            <input type="text" class="form-control" placeholder="E.g. Blue T-shirt...">
                            <span class="search-close"><i class="fa fa-times"></i></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--search toggle form end-->
        <!--header start-->
        <header class="header">
            <!--top bar-->
            <div class="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 hidden-xs">
                            <span>Bienvenue au paradis des chats</span>
                        </div>
                        <div class="col-sm-6 text-right">
                            <ul class="list-inline">
                                <li class="hidden-xs"><a href="#" class="offers">offres</a></li>
                                <li class="hidden-xs"><%= link_to content_tag(:i, nil, class: 'pe-7s-user') + " S'inscrire ", new_user_registration_path %></li>
                                <li><a href="#"><i class="pe-7s-lock"></i> connection</a></li>
                                <li class="lang-dropdown">
                                    <a href="#"><%= image_tag("flag1.png") %> English <i class="fa fa-angle-down"></i></a>
                                    <div class="lang-drop-menu">
                                        <a href="#"><%= image_tag("flag1.png") %> English</a>
                                        <a href="#"><%= image_tag("flag2.png") %> French</a>
                                        <a href="#"><%= image_tag("flag3.png") %> German</a>
                                    </div>
                                </li>
                                <li><a href="javascript:void(0)" class="search-toggle"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--top bar end-->


            <!--main navigation start-->
            <!-- Static navbar -->
            <nav class="navbar navbar-default navbar-static-top yamm sticky">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><%= image_tag("logo-dark.png", :alt => "logo") %></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="index.html">Acceuil</a></li>
                            <!--mega menu-->
                            <li class="dropdown yamm-fw">
                                <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Pages  <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="yamm-content">
                                            <div class="row">

                                                <div class="col-sm-3">
                                                    <h3 class="heading">Base pages</h3>
                                                    <ul class="nav mega-vertical-nav">
                                                        <li><a href="login.html"><i class="fa fa-lock"></i> Connection</a></li>
                                                        <li><a href="register.html"><i class="fa fa-user"></i> Inscription</a></li>
                                                        <li><a href="contact.html"><i class="fa fa-map-marker"></i> Contact </a></li>
                                                        <li><a href="404.html"><i class="fa fa-trash-o"></i> 404 </a></li>
                                                    </ul>

                                                </div>
                                                <div class="col-sm-3">
                                                    <h3 class="heading">Pages des produits </h3>
                                                    <ul class="nav mega-vertical-nav">
                                                        <li><a href="product-list.html"><i class="fa fa-list"></i> Liste des produits</a></li>
                                                        <li><a href="product-grid.html"><i class="fa fa-bars"></i> Grille des produits</a></li>
                                                        <li><a href="product-detail.html"><i class="fa fa-angle-right"></i> Détails des produits </a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-3">
                                                    <h3 class="heading">Mon pannier</h3>
                                                    <ul class="nav mega-vertical-nav">
                                                        <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Pannier</a></li>
                                                        <li><a href="checkout.html"><i class="fa fa-truck"></i> Livraison</a></li>
                                                        <li><a href="order-history.html"><i class="fa fa-sliders"></i> Historique </a></li>
                                                        <li><a href="compare.html"><i class="fa fa-random"></i> Comparer </a></li>
                                                        <li><a href="wishlist.html"><i class="fa fa-heart"></i> Liste de souhait </a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-3">
                                                    <%= image_tag("women/10.jpg", :class => "img-responsive", :alt => "") %>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li> <!--menu Features li end here-->
                            <!--mega menu end-->
                            <!--mega menu-->
                            <li class="dropdown yamm-fw">
                                <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Chaton  <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="yamm-content">
                                            <div class="row">

                                                <div class="col-sm-3">
                                                    <h3 class="heading">Sample title</h3>
                                                    <ul class="nav mega-vertical-nav">
                                                        <li><a href="#">Nam ipsum est</a></li>
                                                        <li><a href="#">Volutpat</a></li>
                                                        <li><a href="#">In efficitur in</a></li>
                                                        <li><a href="#">Accumsan eget</a></li>
                                                        <li><a href="#">Curabitur</a></li>
                                                    </ul>

                                                </div>
                                                <div class="col-sm-3">
                                                    <h3 class="heading">Sample title </h3>
                                                    <ul class="nav mega-vertical-nav">
                                                        <li><a href="#">Nam ipsum est</a></li>
                                                        <li><a href="#">Volutpat</a></li>
                                                        <li><a href="#">In efficitur in</a></li>
                                                        <li><a href="#">Accumsan eget</a></li>
                                                        <li><a href="#">Curabitur</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-3">
                                                    <h3 class="heading">Sample title</h3>
                                                    <ul class="nav mega-vertical-nav">
                                                        <li><a href="#">Nam ipsum est</a></li>
                                                        <li><a href="#">Volutpat</a></li>
                                                        <li><a href="#">In efficitur in</a></li>
                                                        <li><a href="#">Accumsan eget</a></li>
                                                        <li><a href="#">Curabitur</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-3">
                                                    <%= image_tag("chaton/1.jpg", :class => "img-responsive", :alt => "") %>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li> <!--menu Features li end here-->
                            <!--mega menu end-->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true">Chat <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Nam ipsum est</a></li>
                                    <li><a href="#">Volutpat</a></li>
                                    <li><a href="#">In efficitur in</a></li>
                                    <li><a href="#">Accumsan eget</a></li>
                                    <li><a href="#">Curabitur</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true">Blog <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">

                                    <li><a href="blog-masonry.html">Masonry view</a></li>
                                    <li><a href="blog-post.html">Single Post</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true"><i class="pe-7s-cart"></i> <span class="badge">5</span></a>
                                <div class="dropdown-menu shopping-cart">

                                    <div class="cart-items content-scroll">
                                        <div class="cart-item clearfix">
                                            <div class="img">
                                                <%= image_tag("men/1.jpg", :alt => "", :class => "img-responsive") %>
                                            </div><!--img-->
                                            <div class="description">
                                                <a href="#">Mauris et ligula quis</a><strong class="price">1 x $44.95</strong>
                                            </div><!--Description-->
                                            <div class="buttons">
                                                <a href="#" class="fa fa-pencil"></a><a href="#" class="fa fa-trash-o"></a>
                                            </div>
                                        </div><!--cart item-->
                                        <div class="cart-item clearfix">
                                            <div class="img">
                                                <%= image_tag("men/4.jpg", :alt => "", :class => "img-responsive") %>
                                            </div><!--img-->
                                            <div class="description">
                                                <a href="#">Mauris et ligula quis</a><strong class="price">1 x $44.95</strong>
                                            </div><!--Description-->
                                            <div class="buttons">
                                                <a href="#" class="fa fa-pencil"></a><a href="#" class="fa fa-trash-o"></a>
                                            </div>
                                        </div><!--cart item-->
                                        <div class="cart-item clearfix">
                                            <div class="img">
                                                <%= image_tag("men/2.jpg", :alt => "", :class => "img-responsive") %>
                                            </div><!--img-->
                                            <div class="description">
                                                <a href="#">Mauris et ligula quis</a><strong class="price">1 x $44.95</strong>
                                            </div><!--Description-->
                                            <div class="buttons">
                                                <a href="#" class="fa fa-pencil"></a><a href="#" class="fa fa-trash-o"></a>
                                            </div>
                                        </div><!--cart item-->
                                        <div class="cart-item clearfix">
                                            <div class="img">
                                                <%= image_tag("men/3.jpg", :alt => "", :class => "img-responsive") %>
                                            </div><!--img-->
                                            <div class="description">
                                                <a href="#">Mauris et ligula quis</a><strong class="price">1 x $44.95</strong>
                                            </div><!--Description-->
                                            <div class="buttons">
                                                <a href="#" class="fa fa-pencil"></a><a href="#" class="fa fa-trash-o"></a>
                                            </div>
                                        </div><!--cart item-->
                                        <div class="cart-item clearfix">
                                            <div class="img">
                                                <%= image_tag("men/6.jpg", :alt => "", :class => "img-responsive") %>
                                            </div><!--img-->
                                            <div class="description">
                                                <a href="#">Mauris et ligula quis</a><strong class="price">1 x $44.95</strong>
                                            </div><!--Description-->
                                            <div class="buttons">
                                                <a href="#" class="fa fa-pencil"></a><a href="#" class="fa fa-trash-o"></a>
                                            </div>
                                        </div><!--cart item-->
                                    </div><!--cart-items-->

                                    <div class="cart-footer">
                                        <a href="#" class="btn btn-light-dark"> View Cart</a>
                                        <a href="#" class="btn btn-skin"> Checkout</a>
                                    </div><!--footer of cart-->


                                </div><!--cart dropdown end-->
                            </li>

                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>
            <!--main navigation end-->
        </header>
        <!--header end-->

>>>>>>> devisecss


        <!--slider revolution 5 start-->
        <article class="content">
            <div class="rev_slider_wrapper">
                <!-- START REVOLUTION SLIDER 5.0 auto mode -->
                <div id="rev_slider" class="rev_slider"  data-version="5.0">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-transition="fade">

                            <!-- MAIN IMAGE -->
                            <%= image_tag("chaton/bg.jpg", :alt => "", :style => "width: 1920; height: 600") %>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption slider-title tp-resizeme"

                                 data-transform_idle="o:1;"
                                 data-x="right" data-hoffset="100"
                                 data-y="top" data-voffset="200"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="500"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 >Les chatons
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption slider-caption tp-resizeme"

                                 data-transform_idle="o:1;"
                                 data-x="right" data-hoffset="100"
                                 data-y="top" data-voffset="280"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="800"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 >Parce que c'est mignon
                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption slider-button tp-resizeme"

                                 data-transform_idle="o:1;"
                                 data-x="right" data-hoffset="100"
                                 data-y="top" data-voffset="320"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1200"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 ><a href="#">Allez voir</a>
                            </div>
                        </li>

                        <!-- SLIDE  -->
                        <li data-transition="fade">

                            <!-- MAIN IMAGE -->
                            <%= image_tag("chat/bg.jpg",  :alt => "",  :style => "width: 1920; height: 600") %>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption slider-title tp-resizeme"

                                 data-transform_idle="o:1;"
                                 data-x="left" data-hoffset="100"
                                 data-y="top" data-voffset="150"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="500"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 > Les chats
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption slider-caption tp-resizeme"

                                 data-transform_idle="o:1;"
                                 data-x="left" data-hoffset="100"
                                 data-y="top" data-voffset="230"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="800"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 >Sont partout
                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption slider-button tp-resizeme"

                                 data-transform_idle="o:1;"
                                 data-x="left" data-hoffset="100"
                                 data-y="top" data-voffset="280"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1200"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 ><a href="#">Allez voir</a>
                            </div>
                        </li>

                        <!-- SLIDE  -->
                        <li data-transition="fade">

                            <!-- MAIN IMAGE -->
                            <%= image_tag("bchat/bg.jpg", :alt => "", :style => "width: 1920; height: 600")  %>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption slider-title tp-resizeme"

                                 data-transform_idle="o:1;"
                                 data-x="right" data-hoffset="100"
                                 data-y="top" data-voffset="200"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="500"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 >Les gros chats
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption slider-caption tp-resizeme"

                                 data-transform_idle="o:1;"
                                 data-x="right" data-hoffset="100"
                                 data-y="top" data-voffset="280"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="800"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 >Parce qu'on les aiment aussi
                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption slider-button tp-resizeme"

                                 data-transform_idle="o:1;"
                                 data-x="right" data-hoffset="100"
                                 data-y="top" data-voffset="320"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1200"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 ><a href="#">Allez voir</a>
                            </div>
                        </li>
                    </ul>
                </div><!-- END REVOLUTION SLIDER -->
            </div>
        </article>

        <!--slider revolution 5 end-->
        <div class="space-60"></div>
        <div class="blocks-main">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="blocks-col">
                            <%= image_tag("chat/cat2.jpg", :alt => "", :class => "img-responsive") %>
                            <div class="block-overlay">
                                <h4>Chat star</h4>
                                <p>Promo</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="blocks-col">
                            <%= image_tag("chat/cat22.jpg", :alt => "", :class => "img-responsive") %>
                            <div class="block-overlay">
                                <h4>Accessories</h4>
                                <p>essayer  </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="blocks-col">
                            <%= image_tag("chat/cat1.jpg", :alt => "", :class => "img-responsive") %>
                            <div class="block-overlay">
                                <h4>Incontournable</h4>
                                <p>Les bons plans </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--block main-->


        <div class="space-60"></div>


        <!--new arrivals-->
        <section class="new-arrivals">
            <div class="container">
                <h2 class="section-heading">Photographies réscentes</h2>

                <!--owl carousel-->
                <div class="row">
                    <div id="owl-slider" class="col-md-12 owl-carousel owl-theme">

                        <div class="item">
                            <div class="item_holder">
                                <a href="#"><%= image_tag("chat/2.jpg", :alt => "", :class => "img-responsive") %></a>
                                <div class="title">
                                    <h5>Leo <br>fait son chaud</h5>
                                    <span class="price">$9.99</span>
                                </div>
                            </div><!--item holder-->
                        </div> <!--item loop-->
                        <div class="item">
                            <div class="item_holder">
                                <a href="#"><%= image_tag("chat/3.jpg", :alt => "", :class => "img-responsive") %></a>
                                <div class="title">
                                    <h5>Grison <br>pas content</h5>
                                    <span class="price">$19.99 <del>$25.99</del></span>
                                </div>
                            </div><!--item holder-->
                        </div> <!--item loop-->
                        <div class="item">
                            <div class="item_holder">
                                <a href="#"><%= image_tag("chat/4.jpg", :alt => "", :class => "img-responsive") %></a>
                                <div class="title">
                                    <h5>Black <br>vous me voyez ... vous ne me voyez plus</h5>
                                    <span class="price">$29.99</span>
                                </div>
                            </div><!--item holder-->
                        </div> <!--item loop-->
                        <div class="item">
                            <div class="item_holder">
                                <a href="#"><%= image_tag("chat/5.jpg", :alt => "", :class => "img-responsive") %></a>
                                <div class="title">
                                    <h5>Garfield <br>inchangé</h5>
                                    <span class="price">$45.99</span>
                                </div>
                            </div><!--item holder-->
                        </div> <!--item loop-->
                        <div class="item">
                            <div class="item_holder">
                                <a href="#"><%= image_tag("chaton/2.jpg", :alt => "", :class => "img-responsive") %></a>
                                <div class="title">
                                    <h5>duo <br>c'est mimi</h5>
                                    <span class="price">$45.99</span>
                                </div>
                            </div><!--item holder-->
                        </div> <!--item loop-->
                        <div class="item">
                            <div class="item_holder">
                                <a href="#"><%= image_tag("bchat/1.jpg", :alt => "", :class => "img-responsive") %></a>
                                <div class="title">
                                    <h5>roar <br>C'est qui le papa</h5>
                                    <span class="price">$45.99</span>
                                </div>
                            </div><!--item holder-->
                        </div> <!--item loop-->
                    </div>
                </div>
                <!--owl end-->
            </div>
        </section>
        <!--end new arrivals-->
        <div class='space-60'></div>
        <!--parallax section start-->
    <!--    <section class="parallax">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 text-center">
                        <h1><span>Upto 50% off on men's collection</span></h1>
                        <a href='#' class="btn btn-skin btn-lg">Shop Now</a>
                    </div>
                </div>
            </div>
        </section> -->
        <!--parallax section end-->
        <div class='space-60'></div>

        <!--popular products-->
        <section class="featured-products">
            <div class="container">
                <h2 class="section-heading">Produits populaires</h2>
                <!-- boucle pour intégration des produits -->
                <% @products.each do |product| %>
                    <div class="col-sm-4 ">
                        <div class="item_holder">
                            <a href="/products/<%=product.id%>">
                            <%= image_tag product.image_url, :class => "img-responsive" %>
                            </a>
                            <div class="title">
                                <h5><%= product.title%></h5>
                                <p> <%= product.description%> </p>
                                <span class="price"><%= product.price%>€</span>

                            </div>
                        </div><!--item holder-->
                    </div><!--col end-->
                <% end %>

                <div class="row">
                    <div class="col-sm-6 col-md-3 ">
                        <div class="item_holder">
                            <a href="#"><%= image_tag("chat/7.jpg", :alt => "", :class => "img-responsive") %></a>
                            <div class="title">
                                <h5></h5>
                                <span class="price"></span>
                            </div>
                        </div><!--item holder-->
                    </div><!--col end-->
                    <div class="col-sm-6 col-md-3 ">
                        <div class="item_holder out-of-stock">
                            <span class="out-stock-label">Out of stock</span>
                            <a href="#"><%= image_tag("chat/8.jpg", :alt => "", :class => "img-responsive") %></a>
                            <div class="title">
                                <h5></h5>
                                <span class="price"></span>
                            </div>
                        </div><!--item holder-->
                    </div><!--col end-->
                    <div class="col-sm-6 col-md-3 ">
                        <div class="item_holder">
                            <a href="#"><%= image_tag("chat/9.jpg", :alt => "", :class => "img-responsive") %></a>
                            <div class="title">
                                <h5><br></h5>
                                <span class="price"></span>
                            </div>
                        </div><!--item holder-->
                    </div><!--col end-->
                    <div class="col-sm-6 col-md-3 ">
                        <div class="item_holder">
                            <a href="#"><%= image_tag("chat/10.jpg", :alt => "", :class => "img-responsive") %></a>
                            <div class="title">
                                <h5>Sky-Blue <br>Short Skirt</h5>
                                <span class="price">$29.99</span>
                            </div>
                        </div><!--item holder-->
                    </div><!--col end-->
                </div><!--row-->

                <div class="row">
                    <div class="col-sm-6 col-md-3 ">
                        <div class="item_holder">
                            <a href="#"><%= image_tag("chat/11.jpg", :alt => "", :class => "img-responsive") %></a>
                            <div class="title">
                                <h5>Sky-Blue <br>Short Skirt</h5>
                                <span class="price">$29.99</span>
                            </div>
                        </div><!--item holder-->
                    </div><!--col end-->
                    <div class="col-sm-6 col-md-3 ">
                        <div class="item_holder">
                            <span class="offer-lablel">50% off</span>
                            <a href="#"><%= image_tag("chat/12.jpg", :alt => "", :class => "img-responsive") %></a>
                            <div class="title">
                                <h5>Sky-Blue <br>Short Skirt</h5>
                                <span class="price">$29.99</span>
                            </div>
                        </div><!--item holder-->
                    </div><!--col end-->
                    <div class="col-sm-6 col-md-3 ">
                        <div class="item_holder">
                            <a href="#"><%= image_tag("chat/13.jpg", :alt => "", :class => "img-responsive") %></a>
                            <div class="title">
                                <h5>Sky-Blue <br>Short Skirt</h5>
                                <span class="price">$29.99</span>
                            </div>
                        </div><!--item holder-->
                    </div><!--col end-->
                    <div class="col-sm-6 col-md-3 ">
                        <div class="item_holder">
                            <a href="#"><%= image_tag("chat/14.jpg", :alt => "", :class => "img-responsive") %></a>
                            <div class="title">
                                <h5>Sky-Blue <br>Short Skirt</h5>
                                <span class="price">$29.99</span>
                            </div>
                        </div><!--item holder-->
                    </div><!--col end-->
                </div><!--row-->

                <div class="row">
                    <div class="col-sm-6 col-md-3 ">
                        <div class="item_holder">
                            <a href="#"><%= image_tag("bchat/2.jpg", :alt => "", :class => "img-responsive") %></a>
                            <div class="title">
                                <h5>Sky-Blue <br>Short Skirt</h5>
                                <span class="price">$29.99</span>
                            </div>
                        </div><!--item holder-->
                    </div><!--col end-->
                    <div class="col-sm-6 col-md-3 ">
                        <div class="item_holder">
                            <a href="#"><%= image_tag("bchat/3.jpg", :alt => "", :class => "img-responsive") %></a>
                            <div class="title">
                                <h5>Sky-Blue <br>Short Skirt</h5>
                                <span class="price">$29.99</span>
                            </div>
                        </div><!--item holder-->
                    </div><!--col end-->
                    <div class="col-sm-6 col-md-3 ">
                        <div class="item_holder">
                            <a href="#"><%= image_tag("chaton/2.jpg", :alt => "", :class => "img-responsive") %></a>
                            <div class="title">
                                <h5>Sky-Blue <br>Short Skirt</h5>
                                <span class="price">$29.99</span>
                            </div>
                        </div><!--item holder-->
                    </div><!--col end-->
                    <div class="col-sm-6 col-md-3 ">
                        <div class="item_holder">
                            <span class="label-new">New Arrived</span>
                            <a href="#"><%= image_tag("chaton/4.jpg", :alt => "", :class => "img-responsive") %></a>
                            <div class="title">
                                <h5>Sky-Blue <br>Short Skirt</h5>
                                <span class="price">$29.99</span>
                            </div>
                        </div><!--item holder-->
                    </div><!--col end-->
                </div><!--row-->
            </div>
        </section>
        <!--end Popular products-->
        <div class="space-50"></div>

        <div class="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h3>Subscribe to newsletter</h3>
                        <p>Lorem ipsum get latest update of products sit amet.</p>
                    </div>
                    <div class="col-md-7">
                        <form role="form" method="post" action="#" class="subscribe-form  assan-newsletter">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="email" placeholder="Enter email to subscribe">
                                    </div>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <div>
                                        <button class="newsletter-btn" name="submit" type="submit">Notify me</button>
                                    </div>
                                </div>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!--newsletter end-->
        <div class="space-50"></div>
        <!--best sellers, featured, sale item section start-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <h3 class="bg-title">Top <span>Rated</span></h3>
                    <div class="media-item clearfix">
                        <%= image_tag("men/3.jpg", :alt => "", :class => "img-responsive", :style => "width:100") %>
                        <div class="media-item-content">
                            <h4><a href="#">Men's watch</a></h4>
                            <span class="cat">Watches</span>
                            <ul class="list-inline">
                                <li><del>$49.99</del></li>
                                <li>$29.00</li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                            </ul>
                            <div class='rating'>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-empty"></i>
                            </div>
                        </div>
                    </div><!--media item-->
                    <div class="media-item clearfix">
                        <%= image_tag("men/4.jpg", :alt => "", :class => "img-responsive", :style => "width:100") %>
                        <div class="media-item-content">
                            <h4><a href="#">Men's Backpack</a></h4>
                            <span class="cat">Backpack</span>
                            <ul class="list-inline">
                                <li><del>$99.99</del></li>
                                <li>$69.00</li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                            </ul>
                            <div class='rating'>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-empty"></i>
                            </div>
                        </div>
                    </div><!--media item-->
                    <div class="media-item clearfix">
                        <%= image_tag("women/8.jpg", :alt => "", :class => "img-responsive", :style => "width:100") %>
                        <div class="media-item-content">
                            <h4><a href="#">Women's T-shirt</a></h4>
                            <span class="cat">T-shirts</span>
                            <ul class="list-inline">
                                <li><del>$49.99</del></li>
                                <li>$29.00</li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                            </ul>
                            <div class='rating'>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-empty"></i>
                            </div>
                        </div>
                    </div><!--media item-->
                    <div class="media-item clearfix">
                        <%= image_tag("women/6.jpg", :alt => "", :class => "img-responsive", :style => "width:100") %>
                        <div class="media-item-content">
                            <h4><a href="#">Yukute Lower</a></h4>
                            <span class="cat">Lowers</span>
                            <ul class="list-inline">
                                <li><del>$29.99</del></li>
                                <li>$19.00</li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                            </ul>
                            <div class='rating'>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-empty"></i>
                            </div>
                        </div>
                    </div><!--media item-->
                </div><!--col-end-->
                <div class="col-sm-4 col-xs-12">
                    <h3 class="bg-title">new <span>arrivals</span></h3>
                    <div class="media-item clearfix">
                        <%= image_tag("men/3.jpg", :alt => "", :class => "img-responsive", :style => "width:100") %>
                        <div class="media-item-content">
                            <h4><a href="#">Men's watch</a></h4>
                            <span class="cat">Watches</span>
                            <ul class="list-inline">
                                <li><del>$49.99</del></li>
                                <li>$29.00</li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                            </ul>
                            <div class='rating'>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-empty"></i>
                            </div>
                        </div>
                    </div><!--media item-->
                    <div class="media-item clearfix">
                        <%= image_tag("men/4.jpg", :alt => "", :class => "img-responsive", :style => "width:100") %>
                        <div class="media-item-content">
                            <h4><a href="#">Men's Backpack</a></h4>
                            <span class="cat">Backpack</span>
                            <ul class="list-inline">
                                <li><del>$99.99</del></li>
                                <li>$69.00</li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                            </ul>
                            <div class='rating'>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-empty"></i>
                            </div>
                        </div>
                    </div><!--media item-->
                    <div class="media-item clearfix">
                        <%= image_tag("women/8.jpg", :alt => "", :class => "img-responsive", :style => "width:100") %>
                        <div class="media-item-content">
                            <h4><a href="#">Women's T-shirt</a></h4>
                            <span class="cat">T-shirts</span>
                            <ul class="list-inline">
                                <li><del>$49.99</del></li>
                                <li>$29.00</li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                            </ul>
                            <div class='rating'>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-empty"></i>
                            </div>
                        </div>
                    </div><!--media item-->
                    <div class="media-item clearfix">
                        <%= image_tag("women/6.jpg", :alt => "", :class => "img-responsive", :style => "width:100") %>
                        <div class="media-item-content">
                            <h4><a href="#">Yukute Lower</a></h4>
                            <span class="cat">Lowers</span>
                            <ul class="list-inline">
                                <li><del>$29.99</del></li>
                                <li>$19.00</li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                            </ul>
                            <div class='rating'>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-empty"></i>
                            </div>
                        </div>
                    </div><!--media item-->
                </div><!--col-end-->
                <div class="col-sm-4 col-xs-12">
                    <h3 class="bg-title">best <span>sellers</span></h3>
                    <div class="media-item clearfix">
                        <%= image_tag("men/9.jpg", :alt => "", :class => "img-responsive", :style => "width:100") %>
                        <div class="media-item-content">
                            <h4><a href="#">Men's T-shirt</a></h4>
                            <span class="cat">T-shirts</span>
                            <ul class="list-inline">
                                <li><del>$49.99</del></li>
                                <li>$29.00</li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                            </ul>
                            <div class='rating'>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-empty"></i>
                            </div>
                        </div>
                    </div><!--media item-->
                    <div class="media-item clearfix">
                        <%= image_tag("women/3.jpg", :alt => "", :class => "img-responsive", :style => "width:100") %>
                        <div class="media-item-content">
                            <h4><a href="#">Women's Skirt</a></h4>
                            <span class="cat">Skirts</span>
                            <ul class="list-inline">
                                <li><del>$99.99</del></li>
                                <li>$69.00</li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                            </ul>
                            <div class='rating'>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-empty"></i>
                            </div>
                        </div>
                    </div><!--media item-->
                    <div class="media-item clearfix">
                        <%= image_tag("women/4.jpg", :alt => "", :class => "img-responsive", :style => "width:100") %>
                        <div class="media-item-content">
                            <h4><a href="#">Women's Short</a></h4>
                            <span class="cat">Shorts</span>
                            <ul class="list-inline">
                                <li><del>$49.99</del></li>
                                <li>$29.00</li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                            </ul>
                            <div class='rating'>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-empty"></i>
                            </div>
                        </div>
                    </div><!--media item-->
                    <div class="media-item clearfix">
                        <%= image_tag("men/10.jpg", :alt => "", :class => "img-responsive", :style => "width:100") %>
                        <div class="media-item-content">
                            <h4><a href="#">Yukute Lower</a></h4>
                            <span class="cat">Lowers</span>
                            <ul class="list-inline">
                                <li><del>$29.99</del></li>
                                <li>$19.00</li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                            </ul>
                            <div class='rating'>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-empty"></i>
                            </div>
                        </div>
                    </div><!--media item-->
                </div><!--col-end-->
            </div>
        </div>
        <!--section end-->
        <div class="space-60"></div>
        <!--features section start-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 margin-b-30">
                    <div class="features-box">
                        <div class="icon">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="text">
                            <h3>Free Shipping</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam.
                            </p>
                        </div>
                    </div><!--features box-->
                </div><!--features column-->
                <div class="col-sm-4 margin-b-30">
                    <div class="features-box blue">
                        <div class="icon">
                            <i class="fa fa-credit-card"></i>
                        </div>
                        <div class="text">
                            <h3>Secure payment</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam.
                            </p>
                        </div>
                    </div><!--features box-->
                </div><!--features column-->
                <div class="col-sm-4 margin-b-30">
                    <div class="features-box">
                        <div class="icon">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <div class="text">
                            <h3>Easy Returns</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam.
                            </p>
                        </div>
                    </div><!--features box-->
                </div><!--features column-->
            </div>
        </div>
        <!--features section end-->
        <div class="space-30"></div>


  <script>
      /******************************************
       -	PREPARE PLACEHOLDER FOR SLIDER	-
       ******************************************/

      var revapi;
      jQuery(document).ready(function () {
          revapi = jQuery("#rev_slider").revolution({
              sliderType: "standard",
              sliderLayout: "auto",
              delay: 9000,
              navigation: {
                  arrows: {enable: true}
              },
              gridwidth: 1230,
              gridheight: 500
          });
      });	/*ready*/

      $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
          nav: true,
          navText: ["<span class='icon icon-arrow-left7'></span>","<span class='icon icon-arrow-right7'></span>" ]
        });
});


  </script>
