<%= render 'layouts/header' %>
    <!--breadcrumb start-->
        <div class="breadcrumb-wrapper">
            <div class="container">
                <h1><%= @cart.name %></h1>
            </div>
        </div>
        <!--end breadcrumb-->

        <div class="space-60"></div>
        <div class="container">
            <div class="table-responsive">
                <table class="table table-condensed cart-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Produit</th>
                            <th>Prix</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <% @cart_products.each do |product| %>
                            <td class="product-image">
                                <%= image_tag(product.image_url, :atl => "", :width => 300, :height => 250, :crop => :fill) %>
                            </td>
                            <td class='product-name'><%= product.title %></td>
                            <td class="product-price"><%= product.price %></td>
                            <td class='product-delete'><%= link_to "Supprimer le panier", carts_destroy_path, class: "btn btn-secondary" %><i class="fa fa-times"></i></a></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table><!--cart table-->
            </div>
            <div class="space-20"></div>
            <div class="coupon-row">
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                </div>
            </div><!--cart row-->
            <div class="space-30"></div>
            <div class="cart-total">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <h2>Passer la commande</h2>
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr>
                                    <td>Livraison</td>
                                    <td>Gratuite par email</td>
                                </tr>
                                 <tr>
                                    <td>Total</td>
                                    <td class="total">$2456.00</td>
                                </tr>
                                <tr>
                                    <td colspan="2"> <a href="#" class="btn btn-lg btn-skin">Proceed to checkout</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-60"></div>

  <%= render 'layouts/footer' %>
