


        <!--breadcrumb start-->
        <div class="breadcrumb-wrapper">
            <div class="container">
                <h1>Détail de la photographie</h1>
            </div>
        </div>
        <!--end breadcrumb-->

        <div class="space-60"></div>
        <div class="container">
            <div class="row single-product">

                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-5 margin-b-30">
                            <div class="item">
                                <%= image_tag @product.image_url, alt:"Product image", class: "img-responsive"  %>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="product-detail-desc">
                                <h3 class="title"><%= @product.title %></h3>
                                <span class="price"><%= @product.price%>€</span>
                                <p>
                                    <%= @product.description %>
                                </p>
                                <div class="add-buttons">
                                    <%= link_to "Ajouter au panier", addtocart_path, method: :post, class: "btn btn-skin btn-lg" %>
                                </div>
                            </div>
                        </div>
                    </div><!--single product details end-->
                    <div class="space-40"></div>
                    <div class="row">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            <div class="space-60"></div>
        </div>
    </div>
    <!--new arrivals-->
    <section class="new-arrivals">
        <div class="container">
            <h2 class="section-heading">Photographies récentes</h2>

            <!--owl carousel-->
            <div class="row">
                <div id="owl-slider" class="col-md-12 owl-carousel owl-theme">
                  <% @products.take(6).each do |product| %>
                    <div class="item">
                        <div class="item_holder">
                            <a href="/products/<%=product.id%>"><%= image_tag product.image_url, :alt => "", :class => "img-responsive" %></a>
                            <div class="title">
                                <h5><%= product.title%><br><%= product.description%></h5>
                                <span class="price"><%= product.price%>€</span>
                            </div>
                        </div><!--item holder-->
                    </div> <!--item loop-->
                    <% end %>

                </div>
            </div>
            <!--owl end-->
        </div>
    <script>
          $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
          nav: true,
          navText: ["<span class='icon icon-arrow-left7'></span>","<span class='icon icon-arrow-right7'></span>" ]
        });
});
</script>
